<template lang="html">
  <div class="upload-a11y">
    <button class="collapsible-title-button"
      v-on:click="toggleExpanded()"
      v-bind:class="{ expanded: expanded, condensed: !expanded }">
      <span>{{ label.ACCESSIBILITY }}</span>
    </button>
    <div v-show="expanded" class="content">
      <div class="browser-support-section">
        <div class="section-title">{{ label.SUPPORTED_BROWSERS }}</div>
        <table class="section-table">
          <tr>
            <th>{{ label.BROWSER }}</th>
            <th>{{ label.SUPPORT_DESKTOP }}</th>
            <th>{{ label.SUPPORT_MOBILE }}</th>
          </tr>
          <tr v-for="browser in browserList">
            <td>{{ browser.name }}</td>
            <td>
              <input type="checkbox" v-model="browser.desktop">
            </td>
            <td>
              <input v-if="browser.hasMobile"
                type="checkbox" v-model="browser.mobile">
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'ep-upload-a11y',
  props: {
    initBrowserSupport: Object
  },
  data () {
    return {
      expanded: true,
      label: {
        ACCESSIBILITY: 'ACCESSIBILITY',
        SUPPORTED_BROWSERS: 'Supported Browsers',
        BROWSER: 'Browser',
        SUPPORT_DESKTOP: 'Desktop support?',
        SUPPORT_MOBILE: 'Mobile support?',
        DEVICE_DESKTOP: 'desktop',
        DEVICE_MOBILE: 'mobile'
      },
      browsers: {
        chrome: {
          uid: 'chrome',
          name: 'Google Chrome',
          hasMobile: true
        },
        firefox: {
          uid: 'firefox',
          name: 'Mozilla Firefox',
          hasMobile: true
        },
        safari: {
          uid: 'safari',
          name: 'Apple Safari',
          hasMobile: true
        },
        edge: {
          uid: 'edge',
          name: 'Microsoft Edge',
          hasMobile: false
        },
        ie: {
          uid: 'ie',
          name: 'Internet Explorer',
          hasMobile: false
        }
      }
    }
  },
  watch: {
    initBrowserSupport () {
      let browsers = JSON.parse(JSON.stringify(this.initBrowserSupport))

      for (let browser in browsers) {
        browsers[browser].uid = browser
        browsers[browser].name = this.browsers[browser].name
        browsers[browser].hasMobile = this.browsers[browser].hasMobile
      }

      this.browsers = browsers
    },
    browsers: {
      handler () {
        this.$emit('browser-support', this.browsers)
      },
      deep: true
    }
  },
  computed: {
    browserList () {
      return Object.keys(this.browsers).map(uid => {
        return this.browsers[uid]
      })
    }
  },
  methods: {
    toggleExpanded () {
      this.expanded = !this.expanded
    }
  }
}
</script>

<style lang="scss" scoped>
@import '~assets/styles/input';
@import '~assets/styles/list';

.upload-a11y {
  display: block;
  position: relative;
  margin: 0;
  padding: 16px;
  border-right: none;
  border-left: none;
  border-bottom: 1px solid #dcdcdc;
}

.content {
  margin-top: 20px;
}

.section-title {
  margin-bottom: 8px;
}

.section-table {
  margin-top: 12px;

  border-collapse: separate;
  border-spacing: 0 12px;

  th {
    text-align: left;
  }
}

.section-division {
  margin: 24px 0;
  border: none;
  border-bottom: 1px solid $dark-gray;
}
</style>
