<template lang="html">
  <div class="dashboard-game-edit-view">
    <div class="dashboard-game-edit-view-content"
      v-if="profile.isLoggedIn && isAccessVerified && hasAccess">
      <ep-upload-about
        :init-privacy="oldForm.about.privacy"
        :init-title="oldForm.about.title"
        :init-description="oldForm.about.description"
        :init-price="oldForm.about.price"
        v-on:privacy="form.about.privacy = $event"
        v-on:title="form.about.title = $event"
        v-on:description="form.about.description = $event"
        v-on:price="form.about.price = $event"></ep-upload-about>
      <div class="updateAboutBtn-container">
        <input :value="label.UPDATE_ABOUT"
          type="submit"
          class="updateAboutBtn"
          v-on:click="updateGameAbout()">
      </div>
      <ep-upload-media
        :init-thumbnail="oldForm.media.thumbnail"
        :init-images="oldForm.media.images"
        :init-videos="oldForm.media.videos"
        v-on:thumbnail="form.media.thumbnail = $event"
        v-on:images="form.media.images = $event"
        v-on:videos="form.media.videos = $event"
        v-on:show-media="showMedia($event)"></ep-upload-media>
      <div class="updateMediaBtn-container">
        <input :value="label.UPDATE_MEDIA"
          type="submit"
          class="updateMediaBtn"
          v-on:click="updateGameMedia()">
      </div>
      <ep-upload-a11y
        :init-browser-support="oldForm.a11y.browserSupport"
        v-on:browser-support="form.a11y.browserSupport = $event"></ep-upload-a11y>
      <div class="updateA11yBtn-container">
        <input :value="label.UPDATE_A11Y"
          type="submit"
          class="updateA11yBtn"
          v-on:click="updateGameA11y()">
      </div>
      <ep-upload-app
        v-on:language="form.app.language = $event"
        v-on:zip-file="form.app.zipFile = $event"
        v-on:show-media="showMedia($event)"></ep-upload-app>
      <div class="updateAppBtn-container">
        <input :value="label.UPDATE_APP"
          type="submit"
          class="updateAppBtn"
          v-on:click="updateGameApp()">
      </div>
    </div>
    <ep-404 v-else-if="show404"></ep-404>
  </div>
</template>

<script>
import { mapState, mapGetters, mapActions } from 'vuex'

import Ep404 from '~components/404'
import UploadAbout from '~components/Upload/About'
import UploadMedia from '~components/Upload/Media'
import UploadControls from '~components/Upload/Controls'
import UploadA11y from '~components/Upload/A11y'
import UploadApp from '~components/Upload/App'

import { required, maxLength } from 'vuelidate/lib/validators'
import { isValidTitle,
  isValidPrice,
  isValidDescription,
  isValidThumbnail,
  isValidImages,
  isValidVideos,
  isValidBrowserSupport,
  isValidApp } from '~/utils/formValidator'

import { toDataURI, dataURItoBlob } from '~/utils/imageUtil'

export default {
  name: 'ep-dashboard-game-edit-view',
  components: {
    'ep-404': Ep404,
    'ep-upload-about': UploadAbout,
    'ep-upload-media': UploadMedia,
    'ep-upload-controls': UploadControls,
    'ep-upload-a11y': UploadA11y,
    'ep-upload-app': UploadApp
  },
  data () {
    return {
      gid: '',
      hasAccess: false,
      accessMessage: '',
      isAccessVerified: false,
      isOldFormInitialized: false,
      oldForm: {
        about: {
          privacy: '',
          title: '',
          description: '',
          price: { amount: 0 }
        },
        media: {
          thumbnail: { uid: '', source: '', file: '' },
          images: [],
          videos: []
        },
        a11y: {
          browserSupport: {}
        }
      },
      form: {
        about: {
          privacy: '',
          title: '',
          description: '',
          price: { amount: 0 }
        },
        media: {
          thumbnail: { uid: '', source: '', file: '' },
          images: [],
          videos: []
        },
        a11y: {
          browserSupport: {}
        },
        app: {
          language: 'spa',
          zipFile: null
        }
      },
      label: {
        UPDATE_ABOUT: 'Update About',
        UPDATE_MEDIA: 'Update Media',
        UPDATE_A11Y: 'Update Accessibility',
        UPDATE_APP: 'Update App'
      }
    }
  },
  validations: {
    form: {
      about: {
        privacy: {
          required
        },
        title: {
          required,
          maxLength: maxLength(100)
        },
        description: {
          required
        },
        price: {
          isValidPrice
        }
      },
      media: {
        thumbnail: {
          required
        }
      },
      app: {
        language: {
          required
        },
        zipFile: {
          required
        }
      }
    }
  },
  computed: {
    ...mapState('app', [
      'show404'
    ]),
    ...mapGetters([
      'profile',
      'activeGame'
    ])
  },
  watch: {
    activeGame () {
      this.initOldForm()
    },
    '$route.params.gid' () {
      this.initData()
    }
  },
  mounted () {
    this.initData()
  },
  methods: {
    ...mapActions('app', [
      'show404Message'
    ]),
    initData () {
      let gid = this.$route.params.gid
      this.gid = gid

      if (!gid) {
        this.show404Message()
        return
      }

      this.$store.dispatch('getProfileInfo')
      .then(() => {
        return this.$store.dispatch('verifyGameEditAccess', gid)
        .then(accessResponse => {
          this.hasAccess = accessResponse.hasAccess
          this.isAccessVerified = true

          if (!this.hasAccess) {
            return Promise.reject('User does not have access')
          }
        })
      })
      .then(() => {
        return this.$store.dispatch('getActiveGame', gid)
      })
      .then(gameResponse => {
        return this.$store.dispatch('getGameApp', gameResponse.app.aid)
      })
      .then(() => {
        this.initOldForm()
      })
      .catch(() => {
        if (!this.profile.isLoggedIn) {
          this.showDialog('signin')
        }

        this.show404Message()
      })
    },
    updateGameAbout () {
      if (!this.profile.isLoggedIn || !this.profile.isActive) {
        return
      }

      let { privacy, title, description, price } = this.form.about

      // Validate About
      if (!(isValidTitle(title) && isValidDescription(description) && isValidPrice(price))) {
        return
      }

      let updatedPrivacy = (privacy !== this.oldForm.about.privacy)
      let updatedTitle = (title !== this.oldForm.about.title)
      let updatedDescription = (description !== this.oldForm.about.description)
      let updatedPrice = (price.amount !== this.oldForm.about.price.amount)

      if (!(updatedPrivacy || updatedTitle || updatedDescription || updatedPrice)) {
        // Nothing changed
        return
      }

      // Setup price amount
      price.amount = window.Number(price.amount)

      // Show uploadPending dialog
      this.showDialog('uploadPending')

      let promises = []

      if (updatedPrivacy) {
        promises.push(
          this.$store.dispatch('updateGamePrivacy', {
            gid: this.gid,
            privacy
          })
        )
      }

      // Update Game Title
      if (updatedTitle) {
        promises.push(
          this.$store.dispatch('updateGameTitle', {
            gid: this.gid,
            title
          })
        )
      }

      // Update Game Description
      if (updatedDescription) {
        promises.push(
          this.$store.dispatch('udpateGameDescription', {
            gid: this.gid,
            description
          })
        )
      }

      // Update Game Price
      if (updatedPrice) {
        promises.push(
          this.$store.dispatch('updateGamePrice', {
            gid: this.gid,
            price
          })
        )
      }

      Promise.all(promises)
      .then(() => {
        this.navigateToDashboardGame(this.gid)
      })
      .catch(err => {
        this.showError(err)
      })
    },
    updateGameMedia () {
      if (!this.profile.isLoggedIn || !this.profile.isActive) {
        return
      }

      let { thumbnail, images, videos } = this.form.media

      // Validate Media
      if (!(isValidThumbnail(thumbnail) && isValidImages(images) && isValidVideos(videos))) {
        return
      }

      let updatedThumbnail = (thumbnail.source !== this.oldForm.media.thumbnail.source)
      let updatedImages = false
      let updatedVideos = false

      // Check if images are updated
      if (images.length !== this.oldForm.media.images.length) {
        updatedImages = true
      } else {
        for (let i = 0; i < images.length; i++) {
          if (images[i].source !== this.oldForm.media.images[i].source) {
            updatedImages = true
          }
        }
      }

      // Check if videos are updated
      if (videos.length !== this.oldForm.media.videos.length) {
        updatedVideos = true
      } else {
        for (let i = 0; i < videos.length; i++) {
          if (videos[i].source !== this.oldForm.media.videos[i].source) {
            updatedVideos = true
          }
        }
      }

      if (!(updatedThumbnail || updatedImages || updatedVideos)) {
        // Nothing changed
        return
      }

      // Generate thumbnail form
      let thumbnailForm = new window.FormData()
      thumbnailForm.append('thumbnail', thumbnail.file)

      // Generate images form
      let imagesForm = new window.FormData()
      for (let i = 0; i < images.length; i++) {
        imagesForm.append(`image_${i}`, images[i].file)
      }

      // Use string[] for videos
      videos = videos.map(v => v.source)

      // Show uploadPending dialog
      this.showDialog('uploadPending')

      let promises = []

      // Update Thumbnail
      if (updatedThumbnail) {
        promises.push(
          this.$store.dispatch('updateGameThumbnail', {
            gid: this.gid,
            thumbnail: thumbnailForm
          })
        )
      }

      // Update Images
      if (updatedImages) {
        promises.push(
          this.$store.dispatch('udpateGameImages', {
            gid: this.gid,
            images: imagesForm
          })
        )
      }

      // Update Videos
      if (updatedVideos) {
        promises.push(
          this.$store.dispatch('updateGameVideos', {
            gid: this.gid,
            videos
          })
        )
      }

      Promise.all(promises)
      .then(() => {
        this.navigateToDashboardGame(this.gid)
      })
      .catch(err => {
        this.showError(err)
      })
    },
    updateGameA11y () {
      if (!this.profile.isLoggedIn || !this.profile.isActive) {
        return
      }

      let { browserSupport } = this.form.a11y
      let oldBrowserSupport = this.oldForm.a11y.browserSupport

      // Validate Accessibility
      if (!isValidBrowserSupport(browserSupport)) {
        return
      }

      let updatedBrowserSupport = false

      // Check if browser support is updated
      for (let browser in browserSupport) {
        if (!browserSupport.hasOwnProperty(browser)) {
          continue
        }

        if (browserSupport[browser].mobile !== oldBrowserSupport[browser].mobile ||
            browserSupport[browser].desktop !== oldBrowserSupport[browser].desktop) {
          updatedBrowserSupport = true
        }
      }

      if (!updatedBrowserSupport) {
        // Nothing changed
        return
      }

      // Show uploadPending dialog
      this.showDialog('uploadPending')

      let promises = []

      // Update Thumbnail
      if (updatedBrowserSupport) {
        promises.push(
          this.$store.dispatch('updateGameBrowserSupport', {
            gid: this.gid,
            support: browserSupport
          })
        )
      }

      Promise.all(promises)
      .then(() => {
        this.navigateToDashboardGame(this.gid)
      })
      .catch(err => {
        this.showError(err)
      })
    },
    updateGameApp () {
      if (!this.profile.isLoggedIn || !this.profile.isActive) {
        return
      }

      let app = this.form.app

      // Validate App form
      if (!isValidApp(app)) {
        return
      }

      // Generate app form
      let appForm = new window.FormData()
      appForm.append('language', app.language)
      appForm.append('zipFile', app.zipFile)

      // Show uploadPending dialog
      this.showDialog('uploadPending')

      this.$store.dispatch('updateGameApp', {
        gid: this.gid,
        app: appForm
      })
      .then(() => {
        this.navigateToDashboardGame(this.gid)
      })
      .catch(err => {
        this.showError(err)
      })
    },
    initOldForm () {
      let game = this.activeGame

      if (this.isOldFormInitialized || !game.title) {
        return
      }

      this.oldForm.about.privacy = game.privacy
      this.oldForm.about.title = game.title
      this.oldForm.about.description = game.description
      this.oldForm.about.price = game.price
      this.oldForm.media.thumbnail.source = game.thumbnail
      this.oldForm.a11y.browserSupport = game.systemSupport.browser

      // Set thumbnail file
      if (game.thumbnail && !this.oldForm.media.thumbnail.file) {
        toDataURI(game.thumbnail)
        .then(dataURI => {
          this.oldForm.media.thumbnail.file = dataURItoBlob(dataURI)
        })
      }

      // Set image files
      if (game.media.images) {
        this.oldForm.media.images = game.media.images
        for (let i = 0; i < game.media.images.length; i++) {
          toDataURI(game.media.images[i].source)
          .then(dataURI => {
            this.oldForm.media.images[i].file = dataURItoBlob(dataURI)
          })
        }
      }

      // Set videos
      this.oldForm.media.videos = game.media.videos

      this.isOldFormInitialized = true
    },
    showError (err) {
      this.$emit('show-error', {
        type: 'uploadError',
        message: err
      })
    },
    showMedia (media) {
      this.$emit('show-media', media)
    },
    showDialog (option) {
      this.$emit('dialog-selected', option)
    },
    navigateToDashboard () {
      this.$router.push({
        name: 'dashboard'
      })
    },
    navigateToDashboardGame (gid) {
      this.$router.push({
        name: 'dashboard-game-gid',
        params: { gid: gid }
      })
    }
  }
}
</script>

<style lang="scss" scoped>
@import '~assets/styles/input';

.updateAboutBtn-container, .updateMediaBtn-container,
.updateA11yBtn-container, .updateAppBtn-container {
  position: relative;
  padding: 0 16px;
}

.nothing-here-message {
  padding: 20px;
}
</style>
