<!DOCTYPE html>
<html {{ HTML_ATTRS }}>
  <head>
    {{ HEAD }}
    <style>
    /* Hide Stripe payment form */
    #paymentForm .stripe-button-el{
      display: none !important;
      visibility: hidden !important;
      background: none !important;
      border-radius: 0;
      padding: 0;
    }

    #paymentForm .stripe-button-el span {
      padding: 0;
      height: auto;
      line-height: auto;
      background: none !important;
      text-shadow: none;
      box-shadow: none;
      color: black;
      border-radius: 0;
      font-weight: normal;
    }
    </style>
  </head>
  <body {{ BODY_ATTRS }}>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-KBM37VS"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
    <!-- Stripe Form -->
    <form id="paymentForm" action="javascript:void(0);" onsubmit=""><script id="paymentFormScript" class="stripe-button"></script></form>
    <!-- End Stripe Form -->
    {{ APP }}
  </body>
</html>
