<template lang="html">
  <div class="dashboard-game-version-list">
    <button class="collapsible-title-button"
      v-on:click="toggleExpanded()"
      v-bind:class="{ expanded: expanded, condensed: !expanded }">
      <span>{{ label.VERSIONS }}</span>
    </button>
    <div v-if="expanded" class="content-container">
      <div class="version-list">
        <div class="version-container"
          v-for="version in list">
          <div class="title-container">
            <span class="title-text">{{ version.env }} ({{ version.name }})</span>
            <button class="play-btn"
              v-on:click="navigateToPlay(gid,version.env)">{{ label.PLAY }}</button>
          </div>
          <div class="version-content-container">
            <div v-if="version.status" class="version-status-container">
              <span class="status-text">Status: </span>
              <span>{{ version.status }}</span>
            </div>
            <div v-if="version.message" class="version-message-container">
              <span class="message-text">Message: </span>
              <span>{{ version.message }}</span>
            </div>
          </div>
          <div class="log-button-list-container">
            <button class="linkBtn"
              v-on:click="showMessageDialog(label.BUILD_LOG_TITLE, version.buildLogDetails)">View build log</button><br><br>
            <button class="linkBtn"
              v-on:click="showMessageDialog(label.RUNTIME_LOG_TITLE, version.runtimeLogDetails)">View runtime log</button>
          </div>
          <div v-if="!version.isLive" class="setLive-btn-container">
            <input type="submit"
              class="setLive-btn"
              :value="label.SET_LIVE"
              v-on:click="setLive(version.uid)">
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { mapState, mapActions } from 'vuex'

export default {
  name: 'ep-dashboard-game-version-list',
  props: {
    gid: String,
    list: {
      type: Array,
      default () {
        return [{
          uid: 'version_0',
          name: '',
          env: 'Live',
          status: 'No Errors',
          message: 'Everything looks fine!',
          isLive: true,
          buildLogDetails: '',
          runtimeLogDetails: ''
        }]
      }
    }
  },
  data () {
    return {
      expanded: true,
      label: {
        VERSIONS: 'App Versions',
        PLAY: 'Play',
        SET_LIVE: 'Set As Live',
        BUILD_LOG_TITLE: 'Application build log',
        RUNTIME_LOG_TITLE: 'Application runtime log'
      }
    }
  },
  computed: {
    ...mapState('app', [
      'dialogTypes'
    ])
  },
  methods: {
    ...mapActions('app', [
      'selectDialog'
    ]),
    setLive (versionUID) {
      this.$store.dispatch('updateGameAppVersion', {
        gid: this.gid,
        version: versionUID
      })
      .then(() => {
        this.$emit('get-app')
      })
      .catch(err => {
        console.error('Error updating version: ', err)
      })
    },
    navigateToPlay (gid, env) {
      this.$router.push({
        name: 'play-gid',
        params: { gid },
        query: { env: env.toLowerCase() }
      })
    },
    showMessageDialog (title, content) {
      this.selectDialog({
        dialog: this.dialogTypes.message,
        data: {
          title,
          content
        }
      })
    },
    toggleExpanded () {
      this.expanded = !this.expanded
    }
  }
}
</script>

<style lang="scss" scoped>
@import '~assets/styles/theme';
@import '~assets/styles/input';

.dashboard-game-version-list {
  display: block;
  position: relative;
  margin: 0;
  padding-top: 16px;
  border-top: none;
  border-right: none;
  border-left: none;
}

.content {
  margin-top: 12px;
}

.content-title {
  color: $text-color;
  font-weight: normal;
  font-size: 18px;
  margin: 0;
}

.condensed::after, .expanded::after {
  display: block;
  content: '';
  position: absolute;
  right: 12px;
  top: 18px;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
}

.condensed::after {
  border-top: 6px solid #555;
}

.expanded::after {
  border-bottom: 6px solid #555;
}

.version-list {
  .version-container {
    margin-top: 16px;
  }
}

.title-container {
  .title-text {
    font-size: 18px;
  }
}

.version-status-container, .version-message-container {
  margin-top: 4px;
  margin-bottom: 4px;
}

.status-text, .message-text {
  font-weight: bold;
}

.play-btn {
  float: right;
  font-size: 18px;
  font-weight: bold;
  border: none;
  padding: 8px 16px;
  color: #fff;
  border-radius: 2px;
  text-decoration: none;
  background-color: $form-primary-color;
}

.setLive-btn-container .setLive-btn {
  background-color: $gray;
}

.log-button-list-container {
  margin-top: 8px;
}
</style>
