<template lang="html">
  <div class="media-dialog">
    <ep-spinner v-if="true" class="spinner-icon"></ep-spinner>
    <div v-if="activeMedia.type === label.IMAGE" class="image-container"
      v-bind:class="{ desktop: deviceIsDesktop }">
      <div class="image"></div>
    </div>
    <div class="video-container">
      <iframe v-if="activeMedia.type === label.VIDEO" class="video"
        :src="activeMedia.source"
        frameborder="0"
        allowfullscreen></iframe>
    </div>
  </div>
</template>

<script>
import { mapState, mapGetters } from 'vuex'
import Spinner from '../Spinner'

export default {
  name: 'ep-media-dialog',
  components: {
    'ep-spinner': Spinner
  },
  data () {
    return {
      label: {
        IMAGE: 'image',
        VIDEO: 'video'
      }
    }
  },
  mounted () {
    this.setImageSource()
  },
  watch: {
    source () {
      this.setImageSource()
    }
  },
  computed: {
    ...mapState('app', [
      'activeMedia'
    ]),
    ...mapGetters([
      'deviceIsDesktop'
    ])
  },
  methods: {
    setImageSource () {
      if (this.activeMedia.type === this.label.IMAGE) {
        this.$el.querySelector('.image').style.backgroundImage = `url('${this.activeMedia.source}')`
      }
    }
  }
}
</script>

<style lang="scss" scoped>
.media-dialog {
  display: block;
  position: relative;
  width: 100%;
  background: #000000;
  text-align: center;
}

.spinner-icon {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  margin: auto;
}

.image-container, .video-container {
  position: relative;
  width: 100%;
  margin: 0 auto;
}

.image-container {
  padding-bottom: 56.25%;
}

.image-container.desktop {
  padding-bottom: 0;
  max-width: 560px;
  height: 315px;
}

.image {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  overflow: hidden;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.video {
  width: inherit;
  max-width: 560px;
  height: 315px;
}
</style>
