<template lang="html">
  <div class="upload-error-dialog">
    <div class="content">
      <div class="text-content">
        <h2>Error:</h2>
        <p>{{ uploadDetails.message }}</p>
      </div>
    </div>
  </div>
</template>

<script>
import { mapState } from 'vuex'

export default {
  name: 'ep-upload-error-dialog',
  data () {
    return { }
  },
  computed: {
    ...mapState('app', [
      'uploadDetails'
    ])
  }
}
</script>

<style lang="scss" scoped>
@import '~assets/styles/theme';

.upload-error-dialog {
  position: relative;
  display: block;
  background: #FFFFFF;
  width: $dialog-width;
}

.content {
  position: relative;
  padding: 40px 20px;
  margin: auto;
  text-align: center;
}

.text-content {
  text-align: left;
}
</style>
