<template lang="html">
  <div class="upload-pending-dialog">
    <div class="content">
      <ep-spinner class="spinner-icon"></ep-spinner>
      <div class="text-content">
        <h2>Processing..</h2>
        <p>Our frost wizards have started processing your game. ❄️ 💧 ❄️</p>
        <p>Please remain on this page while they work their magic. ✨ 🔮</p>
      </div>
    </div>
  </div>
</template>

<script>
import Spinner from '../Spinner'

export default {
  name: 'ep-upload-pending-dialog',
  components: {
    'ep-spinner': Spinner
  },
  data () {
    return { }
  }
}
</script>

<style lang="scss" scoped>
@import '~assets/styles/theme';

.upload-pending-dialog {
  position: relative;
  display: block;
  background: #FFFFFF;
  width: $dialog-width;
}

.content {
  position: relative;
  padding: 40px 20px;
  margin: auto;
  text-align: center;
}

.text-content {
  text-align: left;
}
</style>
