<template lang="html">
  <div class="upload-error-dialog">
    <div class="content">
      <div class="text-content">
        <h2>{{ label.VERIFY_EMAIL }}</h2>
        <p>{{ profile.email }}</p>
        <p>{{ label.INTRO }}</p>
        <p><strong>{{ label.WRONG_EMAIL }}</strong></p>
        <p>{{ label.UPDATE_EMAIL }} <nuxt-link class="linkBtn" to="/settings">Settings</nuxt-link>.</p>
        <div class="" v-if="!isCodeReset">
          <p>{{ label.REMINDER }}</p>
          <p><button class="linkBtn" v-on:click="resetConfirmationCode()">{{ label.RESET_CODE }}</button></p>
        </div>
        <div class="" v-else>
          <p>{{ label.RESET_CODE_SENT }}</p>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { mapGetters } from 'vuex'

export default {
  name: 'ep-verify-email-dialog',
  data () {
    return {
      isCodeReset: false,
      label: {
        VERIFY_EMAIL: 'Please verify your email',
        INTRO: 'Check your inbox for a message from Enoplay and follow the instructions.',
        WRONG_EMAIL: 'Wrong email?',
        UPDATE_EMAIL: 'To change your email address, please visit',
        REMINDER: 'Trouble finding the email? Check your spam folder or',
        RESET_CODE: 'Resend confirmation code',
        RESET_CODE_SENT: 'Reset code sent!'
      }
    }
  },
  computed: {
    ...mapGetters([
      'profile'
    ])
  },
  methods: {
    resetConfirmationCode () {
      this.$store.dispatch('resetEmailConfirmationCode')
      .then(() => {
        this.isCodeReset = true
      })
      .catch(err => {
        console.error(`Error reseting email confirmation code: ${err}`)
      })
    }
  }
}
</script>

<style lang="scss" scoped>
@import '~assets/styles/theme';
@import '~assets/styles/input';

.upload-error-dialog {
  position: relative;
  display: block;
  background: #FFFFFF;
  width: $dialog-width;
}

.content {
  position: relative;
  padding: 40px 20px;
  margin: auto;
  text-align: center;
}

.text-content {
  text-align: left;
}
</style>
