<template lang="html">
  <div class="welcome-dialog">
    <div class="content">
      <h2>{{ label.WELCOME }},</h2>
      <h3>{{ userAlias }}</h3>
      <button ref="funBtn" class="btn" v-on:click="closeDialog()">{{ label.FUN }}</button>
    </div>
  </div>
</template>

<script>
import { mapActions } from 'vuex'

export default {
  name: 'ep-welcome-dialog',
  data () {
    return {
      label: {
        WELCOME: 'Welcome to Enoplay',
        FUN: 'Have Fun :)'
      }
    }
  },
  mounted () {
    this.$refs.funBtn.focus()
  },
  methods: {
    ...mapActions('app', [
      'closeDialog'
    ])
  },
  computed: {
    userAlias () {
      return this.$store.state.profile.alias
    }
  }
}
</script>

<style lang="scss" scoped>
@import '~assets/styles/theme';

.welcome-dialog {
  position: relative;
  display: block;
  background: #FFFFFF;
  width: $dialog-width;
}

.content {
  position: relative;
  padding: 20px 20px;
  margin: auto;
  text-align: center;
}

.btn {
  width: 100%;
  background-color: $form-primary-color;
  color: #FFFFFF;
  padding: 14px 20px;
  font-size: 16px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
</style>
