<template lang="html">
  <div class="profile-game-list">
    <div class="filter-list-container">
      <div class="filter-item-container">
        <div class="filter-item">
          <select class="filter-item-select"
            v-model="filterSelected">
            <option v-if="hasUploads()" :value="label.VALUE_UPLOADS">{{ label.UPLOADS }}</option>
            <option :value="label.VALUE_LIBRARY">{{ label.LIBRARY }}</option>
          </select>
        </div>
      </div>
    </div>
    <div class="game-list-container">
      <div v-if="filterSelected === label.VALUE_UPLOADS" class="game-list-item">
        <ep-game-item-horiz
          v-for="game in uploadList"
          :key="game.uid"
          :gid="game.gid"
          :thumbnail="game.media.thumbnail.source"
          :title="game.title"
          :price="game.price"
          :thumbnail-size="'small'"></ep-game-item-horiz>
      </div>
    </div>
  </div>
</template>

<script>
import GameItemHoriz from '../Game/ItemHoriz'

export default {
  name: 'ep-profile-game-list',
  components: {
    'ep-game-item-horiz': GameItemHoriz
  },
  props: {
    uploadList: {
      type: Array,
      default () {
        return []
      }
    },
    libraryList: {
      type: Array,
      default () {
        return []
      }
    }
  },
  data () {
    return {
      filterSelected: '',
      label: {
        UPLOADS: 'Uploads',
        LIBRARY: 'Library',
        VALUE_UPLOADS: 'uploads',
        VALUE_LIBRARY: 'library'
      }
    }
  },
  mounted () {
    this.selectFilter()
  },
  methods: {
    selectFilter () {
      if (this.hasUploads()) {
        this.filterSelected = this.label.VALUE_UPLOADS
      } else {
        this.filterSelected = this.label.VALUE_LIBRARY
      }
    },
    hasUploads () {
      return this.uploadList.length > 0
    }
  }

}
</script>

<style lang="scss" scoped>
@import '~assets/styles/input';

.filter-list-container {
  display: block;
}

.filter-item-container {
  display: block;
  margin: 8px;
}

.filter-item {
  display: inline-block;
  outline: 0;
  padding: 0 10px;
  border: solid 1px #d3d3d3;
  min-height: 36px;
  background: #f8f8f8;
  vertical-align: middle;
  font-size: 15px;
  text-align: center;
  color: #333;
  border-radius: 2px;
  box-shadow: 0 1px 0 rgba(0,0,0,0.05);
  box-sizing: border-box;
}

.game-list-container {
  padding: 12px;
}

.game-list-item {
  padding: 8px 0;
}

</style>
