<template>
  <div class="ep-404">
    <h3>Nothing is here.</h3>
    <h2>holy crap!</h2>
    <p>
      <button class="linkBtn"
        v-on:click="showDialog('feedback')">Let us know</button>
      if you need something :)
    </p>
  </div>
</template>
<script>
import { mapState, mapActions } from 'vuex'

export default {
  name: 'ep-404',
  data () {
    return { }
  },
  computed: {
    ...mapState('app', [
      'dialogTypes'
    ])
  },
  methods: {
    ...mapActions('app', [
      'selectDialog'
    ]),
    showDialog (option) {
      this.selectDialog({
        dialog: this.dialogTypes[option]
      })
    }
  }
}
</script>
<style lang="scss" scoped>
@import '~assets/styles/theme';
@import '~assets/styles/input';

$message-horiz-padding: 20px;

.ep-404 {
  padding: $message-horiz-padding;
}
</style>
