<template lang="html">
  <h2 class="page-module-title">
    <div class="page-module-title-container">
      <span class="page-module-title-text">{{text}}</span>
    </div>
  </h2>
</template>

<script>
export default {
  name: 'ep-page-module-title',
  props: {
    text: {
      type: String,
      default () {
        return 'Trending'
      }
    }
  },
  data () {
    return { }
  }
}
</script>

<style lang="scss">
@import '~assets/styles/theme';

.page-module-title {
  font-size: 18px;
  color: $text-color;
  font-weight: normal;
  margin: 0;
  display: block;
  -webkit-margin-before: 0.83em;
  -webkit-margin-after: 0.83em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
}

.page-module-title-container {
  display: table-cell;
  height: 28px;
  vertical-align: middle;
  font-size: 14px;
}
</style>
