<template>
  <div class="browser-support">
    <div class="content">
      <h2 class="text-title">{{ title }}</h2>
      <div class="text-content">
        <p>{{ supportText }}</p>
        <p>
          <div class="desktop-list-title">
            💻 Desktop
          </div>
          <ul v-if="browserDesktopList.length > 0" class="desktop-list">
            <li v-for="browser in browserDesktopList">
              <img class="list-browser-icon"
              :src="getBrowserLogo(browser.uid, label.DESKTOP)" :alt="browser.name">
            </li>
          </ul>
          <div v-else>
            {{ label.NO_SUPPORT }}
          </div>
        </p>
        <p>
          <div class="mobile-list-title">
            📱 Mobile
          </div>
          <ul v-if="browserMobileList.length > 0" class="mobile-list">
            <li v-for="browser in browserMobileList">
              {{ getBrowserLogo(browser.uid, label.MOBILE) }}
              <img class="list-browser-icon"
              :src="getBrowserLogo(browser.uid, label.MOBILE)" :alt="browser.name">
            </li>
          </ul>
          <div v-else>
            {{ label.NO_SUPPORT }}
          </div>
        </p>
      </div>
      <input type="submit" :value="label.BACK"
        v-on:click="navigateToGame()">
      <button v-on:click="ignoreBrowserSupport()"
        class="signupBtn linkBtn">{{ label.PLAY_ANYWAY }}</button>
    </div>
  </div>
</template>
<script>
import { getBrowserLogo } from '~/utils/device'

export default {
  name: 'ep-browser-support',
  props: {
    gid: String,
    browserDesktopList: {
      type: Array,
      default () {
        return []
      }
    },
    browserMobileList: {
      type: Array,
      default () {
        return []
      }
    }
  },
  data () {
    return {
      title: 'Browser not supported',
      supportText: 'This game supports the following browsers:',
      label: {
        BACK: 'Back to game',
        PLAY_ANYWAY: 'Play Anyway',
        NO_SUPPORT: 'No available browser support',
        DESKTOP: 'desktop',
        MOBILE: 'mobile'
      }
    }
  },
  methods: {
    ignoreBrowserSupport () {
      this.$emit('ignore-browser-support', true)
    },
    getBrowserLogo (browser, device) {
      return `${getBrowserLogo(browser, device)}`
    },
    navigateToGame () {
      this.$router.push({
        name: 'game-gid',
        params: { gid: this.gid }
      })
    }
  }
}
</script>
<style lang="scss" scoped>
@import '~assets/styles/input';
@import '~assets/styles/theme';

.browser-support {
  position: relative;
  display: block;
}

.content {
  position: relative;
  padding: 20px 20px;
  margin: auto;
  text-align: center;
}

.text-title {
  text-align: left;
}

.text-content {
  text-align: left;
  max-height: 300px;
  overflow-y: scroll;
}

.desktop-list-title, .mobile-list-title {
  margin-bottom: 12px;
}

.desktop-list, .mobile-list {
  list-style: none;
  margin: 0;
  padding: 0;
  li {
    display: inline-block;
    margin-right: 12px;
  }
}

.list-browser-icon {
  width: 32px;
  height: 32px;
}
</style>
