<template>
  <div class="about-faq-view">
    <div class="content">
      <div>
        <h1>Frequently Asked Questions (FAQ)</h1>
        <p></p>
      </div>
      <div class="question-list">
        <div class="question-item-wrapper">
          <button class="question-item" v-on:click="toggleAnswer(questions.WHY)">
            <h2 class="question-item-text" v-bind:class="{ expanded: questions.WHY.expanded }">
              Why another web-based game portal? Aren't there thousands already?!
            </h2>
          </button>
          <div class="question-overflow" v-show="questions.WHY.expanded">
            <div class="question-overflow-content">
              <div class="">
                <h4>
                  Yes.
                </h4>
                <p>

                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  name: 'about-faq-view',
  data () {
    return {
      questions: {
        WHY: { expanded: false }
      }
    }
  },
  methods: {
    toggleAnswer (question) {
      question.expanded = !question.expanded
    }
  }
}
</script>
<style lang="scss" scoped>
@import '~assets/styles/blog';

.question-item-wrapper {
  margin: 0 0 1px;
  padding: 0;
  outline: none;
}

.question-item {
  margin: 0 -16px;
  border: none;
  background: none;
  padding: 0;
  text-align: left;

  .question-item-text {
    box-sizing: border-box;
    border-top: 1px solid #e0e0e0;
    border-bottom: 1px solid #e0e0e0;
    color: #4285f4;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    font-weight: normal;
    line-height: 20px;
    margin: -1px;
    outline: none;
    padding: 16px 50px 16px 16px;
    padding-bottom: 11px;
    position: relative;
    width: 100%;
    word-wrap: break-word;
  }

  .question-item-text.expanded {
    border-bottom: 0;
  }

  .question-item-text.expanded:before {
    margin-top: -7px;
    transform: scaleY(-1);
  }

  .question-item-text:before {
    margin-top: -10px;
    background: no-repeat url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAMAAADXqc3KAAAAHlBMVEVChfRChfRChfRChfRChfRChfRChfRChfRChfRChfSnCpalAAAACXRSTlMALYH8WFuAWVpIu53cAAAAOElEQVR42t3JsREAIAxC0SiKZv+FLULjsUGouP+i2Yad2sSqs8EPmDjVk+GibnLVXdRd1F0Y/fYAIYwA+YcaWtQAAAAASUVORK5CYII=);
    background-size: 24px;
    content: '';
    height: 22px;
    margin-top: -12px;
    position: absolute;
    right: 18px;
    top: 50%;
    width: 22px;
  }
}

.question-overflow {
  margin: 0;
  overflow: hidden;
  outline: none;

  &-content {
    margin-top: 0px;
    transition: margin-top 0.218s ease-out;
    overflow: auto;
    padding-bottom: 20px;
    margin: 0 0 0 18px;
    padding: 1px 26px 19px 16px;
    position: relative;
    outline: none;
    word-wrap: break-word;
  }

  &-content:before {
    top: -20px;
    background-color: #e0e0e0;
    content: '';
    height: 100%;
    left: 0;
    position: absolute;
    top: -19px;
    width: 2px;
  }
}
</style>
