<template lang="html">
  <div class="game-about">
    <button class="collapsible-title-button"
      v-on:click="toggleExpanded()"
      v-bind:class="{ expanded: expanded, condensed: !expanded }">
      <span>{{label.ABOUT}}</span>
    </button>
    <div v-if="expanded" class="content-container">
      <div v-html="contentString" class="content"></div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'ep-game-about',
  props: {
    contentString: {
      type: String,
      default () {
        return ''
      }
    }
  },
  data () {
    return {
      expanded: true,
      label: {
        ABOUT: 'ABOUT THIS GAME'
      }
    }
  },
  methods: {
    toggleExpanded () {
      this.expanded = !this.expanded
    }
  }
}
</script>

<style lang="scss" scoped>
@import '~assets/styles/input';
@import '~assets/styles/theme';

.game-about {
  display: block;
  position: relative;
  margin: 0;
  padding: 16px;
  border-top: none;
  border-right: none;
  border-left: none;

}

.content {
  margin-top: 12px;
}

.condensed::after, .expanded::after {
  display: block;
  content: '';
  position: absolute;
  right: 12px;
  top: 18px;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
}

.condensed::after {
  border-top: 6px solid #555;
}

.expanded::after {
  border-bottom: 6px solid #555;
}
</style>
