<template lang="html">
  <div class="game-header-publisher">
    <div class="content">
      <div class="user-icon-container">
        <nuxt-link :to="{ name: 'username', params: { username: publisher.username }}">
          <img class="user-icon"
            :src="publisher.icon"
            :alt="publisher.alias">
        </nuxt-link>
      </div>
      <div class="user-name-container">
        <nuxt-link :to="{ name: 'username', params: { username: publisher.username }}">
          <span class="user-alias">{{ publisher.alias }}</span><br>
          <span class="user-username">@{{ publisher.username }}</span>
        </nuxt-link>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'ep-game-header-publisher',
  props: {
    publisher: {
      type: Object,
      default () {
        return {
          username: '',
          alias: '',
          icon: ''
        }
      }
    }
  },
  data () {
    return { }
  }
}
</script>

<style lang="scss" scoped>
@import '~assets/styles/theme';

$icon-size: 40px;

.game-header-publisher {
  display: block;
  position: relative;

  .content {
    position: inherit;
    display: inline-block;
    margin: 0;
    padding: 16px;
    width: 100%;
    border-top: none;
    border-right: none;
    border-left: none;
    background: #fff;
    //border: 1px solid #dcdcdc;
    overflow: auto;
    position: relative;
    border-radius: 2px;
    box-sizing: border-box;
  }

  a {
    color: $text-color;
    text-decoration: none;
  }
}

.user-icon-container, .user-name-container {
  display: inline-block;
}

.user-icon-container {
  width: $icon-size;
  height: $icon-size;
  overflow: hidden;
  text-align: center;
  white-space: nowrap;
  float: left;
  margin-right: 12px;
}

.user-icon {
  border: 0;
  height: $icon-size;
}

.user-name-container {
  line-height: 18px;
  margin-bottom: 2px;
  width: calc(100% - calc(#{$icon-size} + 16px));
}

.user-alias {
  font-size: 16px;
  color: $text-color;
}

.user-username {
  color: #444;
}
</style>
