<template lang="html">
  <div class="item-horiz">
    <div class="content-container">
      <nuxt-link :to="{ name: 'game-gid', params: { gid: gid }}">
        <div class="content">
          <!-- Thumbnail -->
          <div class="image-container" :class="{ 'image-container-size-small': thumbnailSize === thumbnailSizeSmall }">
            <div class="image"></div>
          </div>
          <div class="details-container">
            <!-- Details -->
            <div class="details">
              <div class="title-container">
                <span class="title-text">{{ title }}</span>
              </div>
              <div class="publisher-name-container" v-if="publisher.uid">
                <span class="publisher-name-text">{{ publisher.alias }}</span>
              </div>
              <!--
              <div class="metadata-conatiner">
                <span class="metadata-text">{{metaData.amount}} {{metaData.unit}}</span>
              </div>
              -->
              <div v-if="hasPrice()" class="price-container">
                <div class="price-icon">$</div>
                <div class="price-text">
                  <span>{{ label.FROM }}</span><span>{{ totalPrice }}</span></span>
                </div>
              </div>
              <div v-else class="free-container">{{ label.FREE }}</div>
            </div>
          </div>
        </div>
      </nuxt-link>
    </div>
  </div>
</template>

<script>
import priceUtil from '~/utils/priceUtil'

export default {
  name: 'ep-game-item-horiz',
  props: {
    gid: {
      type: String,
      default () {
        return '0123456789'
      }
    },
    thumbnail: {
      type: String,
      default () {
        return ''
      }
    },
    title: {
      type: String,
      default () {
        return 'World of Warcraft'
      }
    },
    publisher: {
      type: Object,
      default () {
        return {
          uid: '',
          username: 'Blizzard',
          alias: 'Blizzard Entertainment',
          icon: ''
        }
      }
    },
    price: {
      type: Object,
      default () {
        return {
          amount: 0
        }
      }
    },
    metaData: {
      type: Object,
      default () {
        return {
          amount: '0',
          unit: 'plays'
        }
      }
    },
    thumbnailSize: {
      type: String
    }
  },
  data () {
    return {
      thumbnailSizeSmall: 'small',
      label: {
        FROM: 'Play from ',
        FREE: 'FREE TO PLAY'
      }
    }
  },
  mounted () {
    this.setThumbnail()
  },
  computed: {
    totalPrice () {
      return priceUtil.totalPrice(this.price.amount, this.price.unit)
    }
  },
  watch: {
    thumbnail () {
      this.setThumbnail()
    }
  },
  methods: {
    hasPrice () {
      return this.price.amount > 0
    },
    setActiveUser () {
      this.$store.commit('SET_ACTIVE_USER', this.publisher.uid)
    },
    setThumbnail () {
      this.$el.querySelector('.image').style.backgroundImage = `url('${this.thumbnail}')`
    }
  }
}
</script>

<style lang="scss" scoped>
@import '~assets/styles/theme';

.item-horiz {
  position: relative;
  display: block;
  list-style: none;
  border: none;
  clear: both;

  .content-container {
    display: inline;
  }

  .content {
    overflow: auto;
    display: block;
  }

  a {
    color: $dark-gray;
    text-decoration: none;
  }
}

.image-container-size-small {
  width: 156px !important;
  height: 88px !important;
}

.image-container {
  float: left;
  width: 196px;
  height: 110px;
  overflow: hidden;
  position: relative;

  .image {
    position: absolute;
    background-color: $dark-gray;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    margin: 0 0;
    border: 0;
    width: 100%;
    height: 100%;
    display: inline-block;
    vertical-align: middle;
  }
}

.details-container {
  margin-right: 20px;
  overflow: hidden;

  .details {
    vertical-align: baseline;
    display: table-cell;
    padding-left: 8px;
    height: 96px;
    overflow: hidden;
  }
}

.title-container {
  color: $text-color;
  font-size: 14px;
  margin-top: 0;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  line-height: 1.40; // 1.25 default
  margin-bottom: 2px;
  max-height: 38px;
}

.publisher-name-container {
  line-height: 120%;
  color: $dark-gray;
  font-size: 13px;
  overflow: hidden;
  white-space: nowrap;
  word-wrap: normal;
  text-overflow: ellipsis;
}

.metadata-conatiner {
  font-size: 13px;
}

.free-container {
  margin-top: 6px;
  color: $dark-gray;
}

.price-container {
  position: relative;
  font-size: 12px;
  border: 0;
  word-wrap: break-word;
  white-space: normal;
  margin-top: 6px;
}

.price-text {
  display: inline-block;
  color: $dark-gray;
  margin: 0;
  padding: 0;
  background: transparent
}

.price-icon {
  display: inline-block;
  background-color: $blue;
  padding: 0 5px;
  border-radius: 2px;
  color: #fff;
  text-decoration: none;
}
</style>
