<template lang="html">
  <div class="item-vert">
    <!-- Thumbnail -->
    <nuxt-link :to="{ name: 'game-gid', params: { gid: gid }}">
      <div class="image-container">
        <div class="image"></div>
      </div>
    </nuxt-link>
    <!-- Description -->
    <div class="details-container">
      <div class="details">
        <nuxt-link :to="{ name: 'game-gid', params: { gid: gid }}">
          <div class="title">
            <span class="title-text">{{ title }}</span>
          </div>
          <div class="details-list-container">
            <ul class="details-list">
              <li class="details-list-item">
                <span class="details-list-item-text publisher-text">{{publisher.alias}}</span>
              </li>
              <!--
              <li class="details-list-item">
                <span class="details-list-item-text plays-text">{{metaData.amount}} {{metaData.unit}}</span>
              </li>
              -->
            </ul>
          </div>
          <div v-if="hasPrice()" class="price-container">
            <div class="price-icon">$</div>
            <div class="price-text">
              <span>{{ label.FROM }}</span> <span>{{ totalPrice }}</span></span>
            </div>
          </div>
          <div v-else class="free-container">{{ label.FREE }}</div>
        </nuxt-link>
        <!-- User Icon -->
        <div v-if="publisher.icon" class="publisher-icon-container">
          <nuxt-link :to="{ name: 'username', params: { username: publisher.username }}">
            <img class="publisher-icon" :alt="title" :src="publisher.icon">
          </nuxt-link>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import priceUtil from '~/utils/priceUtil'

export default {
  name: 'ep-game-item-vert',
  props: {
    gid: {
      type: String,
      default () {
        return ''
      }
    },
    thumbnail: {
      type: String,
      default () {
        return ''
      }
    },
    title: {
      type: String,
      default () {
        return ''
      }
    },
    publisher: {
      type: Object,
      default () {
        return {
          uid: '',
          username: '',
          alias: '',
          icon: ''
        }
      }
    },
    price: {
      type: Object,
      default () {
        return {
          amount: 0
        }
      }
    },
    metaData: {
      type: Object,
      default () {
        return {
          amount: '0',
          unit: 'plays'
        }
      }
    }
  },
  data () {
    return {
      label: {
        FROM: 'Play from ',
        FREE: 'FREE TO PLAY'
      }
    }
  },
  mounted () {
    this.setThumbnail()
  },
  computed: {
    totalPrice () {
      return priceUtil.totalPrice(this.price.amount, this.price.unit)
    }
  },
  watch: {
    thumbnail () {
      this.setThumbnail()
    }
  },
  methods: {
    hasPrice () {
      return this.price.amount > 0
    },
    setActiveUser () {
      this.$store.commit('SET_ACTIVE_USER', this.publisher.uid)
    },
    setThumbnail () {
      this.$el.querySelector('.image').style.backgroundImage = `url('${this.thumbnail}')`
    }
  }
}
</script>

<style lang="scss" scoped>
@import '~assets/styles/theme';

.item-vert {
  display: block;

  a {
    text-decoration: none;
  }
}

.image-container {
  padding-bottom: 56.25%;
  position: relative;
  width: 100%;

  .image {
    position: absolute;
    background-color: $dark-gray;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    overflow: hidden;
  }
}

.details-container {
  position: relative;
  margin-top: 12px;
  width: 100%;

  .details {
    font-size: 12px;
    margin: 0 23px 0 52px;
    padding-top: 2px;
    min-height: 38px;

    .title {
      font-size: 14px;
      line-height: 1.25;
      max-height: 34px;
      color: $text-color;
      overflow: hidden;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      text-overflow: ellipsis;
    }

    .item-details {
      padding-top: 3px;
      color: $gray;
    }
  }
}

.details-list-container {
  color: $dark-gray;
  padding-top: 3px;

  .details-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  .details-list-item {
    display: inline;
  }

  .details-list-item-text {
    white-space: nowrap;

    &.publisher-text::after {
      // content: " \002022 ";
      white-space: normal;
    }
  }
}

.free-container {
  margin-top: 6px;
  color: $gray;
}

.price-container {
  position: relative;
  font-size: 12px;
  border: 0;
  word-wrap: break-word;
  white-space: normal;
  margin-top: 6px;
}

.price-text {
  display: inline-block;
  color: $dark-gray;
  margin: 0;
  padding: 0;
  background: transparent;
}

.price-icon {
  margin: 0 2px 0 0;
  display: inline-block;
  background-color: $blue;
  padding: 0 5px;
  border-radius: 2px;
  color: #fff;
  text-decoration: none;
}

.publisher-icon-container {
  position: absolute;
  top: 0;
  left: 0;
  height: 40px;
  width: 40px;

  .publisher-icon {
    width: 100%;
    border: 0;
  }
}
</style>
