<template lang="html">
  <div class="home-view" v-bind:class="{'desktop': deviceIsDesktop}">
    <!--<ep-page-module-title></ep-page-module-title>-->
    <div v-if="deviceSettingsInitialized" class="list-section">
      <div v-if="deviceIsDesktop" class="desktop-list-container">
        <div class="desktop-list">
          <ep-game-item-vert
            v-for="game in newReleaseList"
            :key="game.uid"
            class="desktop-list-item"
            :gid="game.gid"
            :thumbnail="game.thumbnail"
            :title="game.title"
            :publisher="game.publisher"
            :price="game.price"
            :meta-data="game.metaData"></ep-game-item-vert>
        </div>
      </div>
      <div v-else-if="deviceIsTablet" class="tablet-list-container">
        <ep-game-item-horiz
          v-for="game in newReleaseList"
          :key="game.uid"
          :gid="game.gid"
          :thumbnail="game.thumbnail"
          :title="game.title"
          :publisher="game.publisher"
          :price="game.price"
          :meta-data="game.metaData"></ep-game-item-horiz>
      </div>
      <div v-else-if="deviceIsMobile" class="mobile-list-container">
        <ep-game-item-vert
          v-for="game in newReleaseList"
          :key="game.uid"
          :gid="game.gid"
          :thumbnail="game.thumbnail"
          :title="game.title"
          :publisher="game.publisher"
          :price="game.price"
          :meta-data="game.metaData"></ep-game-item-vert>
      </div>
    </div>
  </div>
</template>

<script>
import { mapGetters } from 'vuex'

import GameItemVert from '~components/Game/ItemVert'
import GameItemHoriz from '~components/Game/ItemHoriz'
import PageModuleTitle from '~components/PageModuleTitle'

export default {
  name: 'home',
  components: {
    'ep-page-module-title': PageModuleTitle,
    'ep-game-item-vert': GameItemVert,
    'ep-game-item-horiz': GameItemHoriz
  },
  fetch ({ store }) {
    store.dispatch('app/updateHeaderTitle', 'Enoplay')
    return store.dispatch('getGames')
  },
  data () {
    return { }
  },
  computed: {
    ...mapGetters([
      'deviceSettingsInitialized',
      'deviceIsMobile',
      'deviceIsTablet',
      'deviceIsDesktop',
      'newReleaseList'
    ])
  },
  mounted () {
    this.$store.dispatch('getGames')
  }
}
</script>

<style lang="scss" scoped>
@import '~assets/styles/theme';

$game-item-width-desktop: 196px;

.home-view {
  padding: 1px 0 0;
  background-color: white;
  height: calc(100vh - 50px);

  &.desktop {
    background-color: $light-gray;
  }
}

.item-vert, .item-horiz, .page-module-title {
  border-top: none;
  border-right: none;
  border-left: none;
  margin: 0;
  border-radius: 0;
  background: #fff;
  overflow: auto;
  padding: 12px;
  position: relative;
  box-sizing: border-box;
  vertical-align: top;
}

.item-vert {
  padding-top: 16px;
  background-color: #fff;
  &:first-of-type {
    margin-top: 0;
  }
}

.item-horiz {
  padding-top: 16px;
  padding-bottom: 16px;
}

.desktop-list-container {
  margin-top: 12px;

  .item-vert {
    display: inline-block;
  }
}

.desktop-list {
  width: calc(#{$game-item-width-desktop} * 5 + 60px);
  margin: 0 auto;
  background-color: white;
  padding: 12px;
  padding-right: 0px;

  @media only screen and (max-width: 1100px) {
    width: calc(#{$game-item-width-desktop} * 4 + 48px);
  }

  @media only screen and (max-width: 900px) {
    width: calc(#{$game-item-width-desktop} * 3 + 36px);
  }

  @media only screen and (max-width: 700px) {
    width: calc(#{$game-item-width-desktop} * 2 + 24px);
  }
}

.desktop-list-item {
  width: $game-item-width-desktop;
  margin-right: 12px;
  margin-bottom: 12px;
  padding: 0;
}
</style>
