<template lang="html">
  <div class="profile-view">
    <ep-404 v-if="show404"></ep-404>
    <div v-else-if="userProfileExists" class="profile-view-content">
      <ep-profile-header
        :username="activeUser.username"
        :alias="activeUser.alias"
        :icon="activeUser.media.icon.source"
        :banner="activeUser.media.banner.source"></ep-profile-header>
      <ep-profile-nav
        :selected="navOption"
        v-on:select="selectNavOption($event)"></ep-profile-nav>
      <div class="profile-content">
        <ep-profile-home v-if="isSelectedNavOption('home')"
          :contentString="activeUser.description"></ep-profile-home>
        <ep-profile-game-list v-if="isSelectedNavOption('games')"
          :upload-list="userGamesPublished"></ep-profile-game-list>
      </div>
    </div>
  </div>
</template>

<script>
import { mapState, mapGetters, mapActions } from 'vuex'

import Ep404 from '~components/404'
import ProfileHeader from '~components/Profile/Header'
import ProfileNav from '~components/Profile/Nav'
import ProfileHome from '~components/Profile/Home'
import ProfileGameList from '~components/Profile/GameList'

export default {
  name: 'profile',
  components: {
    'ep-404': Ep404,
    'ep-profile-header': ProfileHeader,
    'ep-profile-nav': ProfileNav,
    'ep-profile-home': ProfileHome,
    'ep-profile-game-list': ProfileGameList
  },
  fetch ({ store, params }) {
    return store.dispatch('getUserByUsername', params.username)
    .then(user => {
      store.dispatch('app/updateHeaderTitle', `${user.alias}`)
      store.dispatch('app/resetShow404')
    })
    .catch(() => {
      store.dispatch('app/show404Message')
    })
  },
  data () {
    return {
      userProfileExists: true,
      navOption: 'home',
      userGamesPublished: []
    }
  },
  head () {
    if (!this.activeUser.uid) {
      return {}
    }

    // Shorten description
    const MAX_DESCRIPTION_LENGTH = 200
    let fullDescription = this.activeUser.description
    let shortDescription = fullDescription
    if (fullDescription.length > MAX_DESCRIPTION_LENGTH) {
      shortDescription = fullDescription.substr(0, MAX_DESCRIPTION_LENGTH)
    }

    // Prepare metadata
    let url = `${process.env.HOST_URL_WWW}/${this.activeUser.username}`
    let title = `${this.activeUser.alias} (@${this.activeUser.username}) - Enoplay`
    let description = `Play games with ${this.activeUser.alias} (@${this.activeUser.username}) - ${shortDescription}`
    let image = `${this.activeUser.media.icon.source}`

    return {
      title: title,
      meta: [
        { hid: 'description', name: 'description', content: description },
        { hid: 'og:url', property: 'og:url', content: url },
        { hid: 'og:title', property: 'og:title', content: title },
        { hid: 'og:description', property: 'og:description', content: description },
        { hid: 'og:image', property: 'og:image', content: image },
        { hid: 'twitter:card', property: 'twitter:card', content: 'summary' },
        { hid: 'twitter:site', property: 'twitter:site', content: '@enoplay' },
        { hid: 'twitter:url', property: 'twitter:url', content: url },
        { hid: 'twitter:title', property: 'twitter:title', content: title },
        { hid: 'twitter:description', property: 'twitter:description', content: description },
        { hid: 'twitter:image', property: 'twitter:image', content: image }
      ]
    }
  },
  mounted () {
    this.initData()
  },
  watch: {
    '$route.path' () {
      this.initData()
    }
  },
  computed: {
    ...mapState('app', [
      'show404'
    ]),
    ...mapGetters([
      'activeUser'
    ])
  },
  methods: {
    ...mapActions('app', [
      'show404Message',
      'resetShow404'
    ]),
    initData () {
      let username = this.$route.params.username
      this.$store.dispatch('getUserByUsername', username)
      .then(() => {
        return this.$store.dispatch('getUserGamePublishHistory', username)
        .then(gamesResponse => {
          this.userGamesPublished = gamesResponse
        })
      })
      .then(() => {
        this.resetShow404()
      })
      .catch(() => {
        this.userProfileExists = false
        this.show404Message()
      })
    },
    selectNavOption (option) {
      this.navOption = option
    },
    isSelectedNavOption (option) {
      return this.navOption === option
    }
  }
}
</script>

<style lang="scss" scoped>
.profile-view {
  color: #3D4E5E;
}
</style>
