<template lang="html">
  <div class="settings-view">
    <ep-settings-profile v-if="profile.isLoggedIn"></ep-settings-profile>
  </div>
</template>

<script>
import { mapGetters } from 'vuex'

import SettingsProfile from '~components/Settings/Profile'

export default {
  name: 'ep-settings-view',
  components: {
    'ep-settings-profile': SettingsProfile
  },
  data () {
    return { }
  },
  computed: {
    ...mapGetters([
      'profile'
    ])
  },
  mounted () {
    this.$store.dispatch('getProfileInfo')
    .then(() => {
      if (!this.profile.isLoggedIn) {
        this.showDialog('signin')
      }
    })
  },
  methods: {
    showDialog (option) {
      this.$emit('dialog-selected', option)
    }
  }
}
</script>

<style lang="scss" scoped>
.settings-view {

}
</style>
