<template lang="html">
  <div class="dashboard-view">
    <ep-dashboard-header></ep-dashboard-header>
    <ep-dashboard-game-list
      v-if="publishedGames.length > 0"
      :games="publishedGames"></ep-dashboard-game-list>
  </div>
</template>

<script>
import { mapGetters } from 'vuex'

import DashboardHeader from '~components/Dashboard/Header'
import DashboardGameList from '~components/Dashboard/GameList'

export default {
  name: 'ep-dashboard-view',
  components: {
    'ep-dashboard-header': DashboardHeader,
    'ep-dashboard-game-list': DashboardGameList
  },
  data () {
    return {
      publishedGames: []
    }
  },
  computed: {
    ...mapGetters([
      'profile'
    ])
  },
  mounted () {
    this.initData()
  },
  methods: {
    initData () {
      // Ensure user is logged in
      this.$store.dispatch('getProfileInfo')
      .then(() => {
        if (!this.profile.isLoggedIn) {
          return
        }

        let games = Object.keys(this.profile.gamePublishHistory)
        return this.$store.dispatch('getGamesByUIDsWithForce', games)
        .then(gamesResponse => {
          this.publishedGames = gamesResponse || []
        })
      })
    }
  }
}
</script>

<style lang="scss" scoped>
</style>
