<template lang="html">
  <div class="upload-view">
    <div class="upload-view-content" v-if="profile.isLoggedIn && profile.isActive && isProfileLoaded">
      <ep-upload-about
        v-on:title="form.about.title = $event"
        v-on:description="form.about.description = $event"
        v-on:price="form.about.price = $event"></ep-upload-about>
      <ep-upload-media
        v-on:thumbnail="form.media.thumbnail = $event"
        v-on:images="form.media.images = $event"
        v-on:videos="form.media.videos = $event"
        v-on:show-media="showMedia($event)"></ep-upload-media>
      <!--
      <ep-upload-controls></ep-upload-controls>
      -->
      <ep-upload-app
        v-on:language="form.app.language = $event"
        v-on:zip-file="form.app.zipFile = $event"
        v-on:show-media="showMedia($event)"></ep-upload-app>
      <div class="uploadBtn-container">
        <input :value="label.UPLOAD"
          type="submit"
          class="uploadBtn"
          v-on:click="createGame()">
      </div>
    </div>
    <div class="sign-in-message" v-else-if="!profile.isLoggedIn && isProfileLoaded">
      <h3>You must sign in to upload a game.</h3>
      <p>
        <button class="linkBtn" v-on:click="showDialog('signin')">Sign in here</button>
        . It will only take 2 hours.
      </p>
    </div>
    <div class="verify-email-message" v-else-if="!profile.isActive && isProfileLoaded">
      <h3>You must verify your email to upload a game.</h3>
      <p>
        Please
        <button class="linkBtn" v-on:click="showDialog('verifyEmail')">read this</button>
        for instructions on how to verify your email.
      </p>
    </div>
  </div>
</template>

<script>
import { mapGetters } from 'vuex'

import UploadAbout from '~components/Upload/About'
import UploadMedia from '~components/Upload/Media'
import UploadControls from '~components/Upload/Controls'
import UploadApp from '~components/Upload/App'

import { required, maxLength } from 'vuelidate/lib/validators'
import { isValidTitle,
  isValidPrice,
  isValidDescription,
  isValidThumbnail,
  isValidImages,
  isValidVideos,
  isValidApp } from '~/utils/formValidator'

export default {
  name: 'ep-upload-view',
  components: {
    'ep-upload-about': UploadAbout,
    'ep-upload-media': UploadMedia,
    'ep-upload-controls': UploadControls,
    'ep-upload-app': UploadApp
  },
  data () {
    return {
      isProfileLoaded: false,
      form: {
        about: {
          title: '',
          description: '',
          price: { amount: 0 }
        },
        media: {
          thumbnail: { uid: '', source: '', file: '' },
          images: [],
          videos: []
        },
        app: {
          language: 'spa',
          zipFile: null
        }
      },
      label: {
        UPLOAD: 'Upload Game'
      }
    }
  },
  validations: {
    form: {
      about: {
        title: {
          required,
          maxLength: maxLength(100)
        },
        description: {
          required
        },
        price: {
          isValidPrice
        }
      },
      media: {
        thumbnail: {
          required
        }
      },
      app: {
        language: {
          required
        },
        zipFile: {
          required
        }
      }
    }
  },
  computed: {
    ...mapGetters([
      'profile'
    ])
  },
  mounted () {
    this.$store.dispatch('getProfileInfo')
    .then(() => {
      if (!this.profile.isLoggedIn) {
        this.showDialog('signin')
      } else if (!this.profile.isActive) {
        this.showDialog('verifyEmail')
      }
      this.isProfileLoaded = true
    })
  },
  methods: {
    createGame () {
      if (!this.profile.isLoggedIn || !this.profile.isActive) {
        return
      }
      let { title, description, price } = this.form.about
      let { thumbnail, images, videos } = this.form.media
      let app = this.form.app

      // Validate About
      if (!(isValidTitle(title) && isValidDescription(description) && isValidPrice(price))) {
        return
      }

      // Validate Media
      if (!(isValidThumbnail(thumbnail) && isValidImages(images) && isValidVideos(videos))) {
        return
      }

      // Validate App form
      if (!isValidApp(app)) {
        return
      }

      // Setup price amount
      price.amount = window.Number(price.amount)

      // Generate thumbnail form
      let thumbnailForm = new window.FormData()
      thumbnailForm.append('thumbnail', thumbnail.file)

      // Generate images form
      let imagesForm = new window.FormData()
      for (let i = 0; i < images.length; i++) {
        imagesForm.append(`image_${i}`, images[i].file)
      }

      // Use string[] for videos
      videos = videos.map(v => v.source)

      // Generate app form
      let appForm = new window.FormData()
      appForm.append('language', app.language)
      appForm.append('zipFile', app.zipFile)

      // Show uploadPending dialog
      this.showDialog('uploadPending')
      // Upload game
      this.$store.dispatch('createGame', {
        title,
        description,
        price,
        thumbnail: thumbnailForm,
        images: imagesForm,
        videos,
        app: appForm
      })
      .then(gameResponse => {
        this.navigateToDashboardGame(gameResponse.gid)
      })
      .catch(err => {
        this.showError(err)
      })
    },
    navigateToDashboardGame (gid) {
      this.$router.push({
        name: 'dashboard-game-gid',
        params: { gid: gid }
      })
    },
    showDialog (option) {
      this.$emit('dialog-selected', option)
    },
    showError (err) {
      this.$emit('show-error', {
        type: 'uploadError',
        message: err
      })
    },
    showMedia (media) {
      this.$emit('show-media', media)
    },
    closeDialog () {
      this.$emit('close-dialog')
    }
  }
}
</script>

<style lang="scss" scoped>
@import '~assets/styles/input';

.uploadBtn-container {
  position: relative;
  padding: 0 16px;
}

.sign-in-message, .verify-email-message {
  padding: 20px;
}
</style>
